[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Certara.NLME8"]
	path = Certara.NLME8
	url = https://github.com/cran/Certara.NLME8
