[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Certara.NLME8"]
	path = Certara.NLME8
	url = https://github.com/cran/Certara.NLME8
[submodule "Certara.RsNLME"]
	path = Certara.RsNLME
	url = https://github.com/cran/Certara.RsNLME
[submodule "Certara.RsNLME.ModelBuilder"]
	path = Certara.RsNLME.ModelBuilder
	url = https://github.com/cran/Certara.RsNLME.ModelBuilder
[submodule "Certara.RsNLME.ModelExecutor"]
	path = Certara.RsNLME.ModelExecutor
	url = https://github.com/cran/Certara.RsNLME.ModelExecutor
[submodule "Certara.VPCResults"]
	path = Certara.VPCResults
	url = https://github.com/cran/Certara.VPCResults
[submodule "Certara.Xpose.NLME"]
	path = Certara.Xpose.NLME
	url = https://github.com/cran/Certara.Xpose.NLME
